@font-face
{
    font-family: roboto-bold;
    src: url('Roboto-Bold.ttf');
}
@font-face
{
    font-family: roboto-light;
    src: url('Roboto-Light.ttf');
}
@font-face
{
    font-family: shrikhand;
    src: url('Shrikhand-Regular.otf');
}
.fontfamily-light
{
    font-family: roboto-light;
}
.fontfamily-shrikhand
{
    font-family: shrikhand;
}
.text-decoration
{
    text-decoration: none;
    color: black;
}
.font-size
{
    font-weight: bold;
}
.center
{
    display: flex;
    justify-content: center;
}
*
{
    word-wrap: break-word;
    font-family: roboto-bold;
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
    padding: 0;
}
/*  -------------   */
.logo
{
    font-size: 40px;
}
.arrow-icon
{
    font-size: 35px;
    margin-top: 10px;
}
/*   header    */

.block-white
{
    width: 60%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.all-blocks-entrees, .all-blocks-plats, .all-blocks-desserts
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block-2__button
{
    width: 30%;
    color: white;
}
.title-heart i
{
    font-size: 30px;
    margin-right: 40px;
}
.title-h1
{
    font-size: 30px;
}
.title-h2
{
    font-size: 25px;  
}
/*   footer   */
.footer-logo
{
    margin-left: 0;
    padding-top: 0;
}
.footer-block
{
    margin-top: 0;
    margin-left: 0;
}
footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-block
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
